<div class="row">
  <div class="user">
  	<h2>Logged in as {{display_name}}<h2>
  </div>
</div>

<div class="row">
  <div class="media">
  	<div class="pull-left">
  		<img class="media-object" width="150" src="{{image}}" />
  	</div>
  <div class="media-body">
    <dl class="dl-horizontal">
      <dt>Display name</dt><dd class="clearfix">{{display_name}}</dd>
      <dt>Id</dt><dd>{{id}}</dd>
      <dt>Email</dt><dd>{{email}}</dd>
      <dt>Link</dt><dd><a href="{{href}}">{{href}}</a></dd>
      <dt>Country</dt><dd>{{country}}</dd>
    </dl>
  </div>
  </div>
</div>

<div class="row">
  <ul class="media-list">
    {{#each list}}
      <li class=" media col-sm-3 col-md-3 col-lg-3">
        <a class="pull-left" href="#">
          <img class="media-object" src="" alt="">
        </a>
        <div class="media-body">
          <h4 class="media-heading">{{this.name}}</h4>
        </div>
      </li>
    {{/each}}
  </ul>
</div>